*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
    background-color: #5295f1;
    color: #fff;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    text-align: center;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
}

h3{
    font-size: 30px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 550px;
    padding: 0;
}

.circle{
    background-color: #fff;
    border-radius: 50%;
    margin: 8px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.3s linear;
    -webkit-transition: transform 0.3s linear;
}

.circle.grow{
    transform: scale(1.9);
    -webkit-transform: scale(1.9);
}

@media only screen and (max-device-width: 415px){
    .circle{
        width: 38px;
        height: 38px;
        margin: 10px;
    }
    .container{
        width: 90%;
        margin: 0 auto;
    }
    h3{
        font-size: 60px;
        margin: 0 0 30px 0;
    }
}
